.task-card {
    margin-top: 20px;
    background-color: rgba(219, 193, 151, 0.8); 
    color: #4d2e00; 
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .task-card.completed {
    background-color: rgba(204, 178, 135, 0.2); 
  }
  
  .task-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-buttons button {
    margin-left: 5px;
  }

  input{
    border: none;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    margin-bottom: 20px;

  }

  button{
    background-color: #4d2e00;
    color: bisque;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 30px;
 
  }
  